.category {
    text-align: center;
    font-size: $l-size;
    background-color: rgb(230, 57, 71);
    width:300px;
    height: auto;
    padding: 10px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 100px;
    font-family: 'Montserrat', sans-serif;
}

.cat-link {
    color: #F1FAEE;
    text-decoration: none;
}

.cat-link:hover {
    text-decoration-line: underline;
}

.category:hover {
    background-color:#D23440;
}