.header {
    color: #1D3557;
    margin: 0px !important;
    text-align: center;
    font-family: 'Fira', sans-serif;
}

.header .title {
    margin: 0px !important;
    padding-top: 5px;
    font-size: $l-size;
    text-decoration: none;
    color: #1D3557;
    font-weight: bold;
}

.header > p{
    margin-top: 5px !important;
    padding-bottom: 10px;
}