.links-container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.links {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-top: 10px;
    text-align: center;
    align-items: center;
}

.linkItem {
    border: solid 2px;
    border-color:#D23440;
    height: 40px;
    margin-top: 5px;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    color: #D23440;
    width: 400px;
    text-decoration: none;
}

.linkItem:hover {
    background-color: #D23440;
    color: #F1FAEE;
}

.linkListHeader {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
}